.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 15px;
}

.seachWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.seachWrapper > h3 {
    text-align: center;
}

/* input {
  font-family: 'Roboto', sans-serif;
  border: none;
  border-bottom: 2px solid #aeaeae;
  padding: 5px;
  font-size: 14px;
} */

.btnSerchWrapper {
  display: flex;
  justify-content: center;
}

/* .btnSearch {
  font: normal normal 600 12px/17px "Poppins",sans-serif;
  color: white;
  padding: 5px;
  margin: 0 10px;
  background-color: #111;
  border: 1px solid black;
}
.btnSearch:hover {
  color: white;
  background-color: #111;
  box-shadow: 0 0 10px #000;
  transition: all 0.2s; 
} */

.lojasContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #777777;
  padding-bottom: 0.5em;
}

.lojasContent > p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.25;
  margin: 0.25em 0;
}

.errorMsg {
  font-size: 9px;
  color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
